.app {
  padding-bottom: 200px;
  background-color: #E7EBEE;
  color: #232B2E;

  &__add {
    margin: 0;
    padding: 15px 15px 5px 15px;
    background-color: #232B2D;
    color: #898B8E;
  }

  &__select {
    position: relative;
    padding: 30px;
    background-color: #293335;
    color: #898B8E;
  }

  &__select-heading {
    margin-top: 0;
  }

  &__select-close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__chart {
    margin: 15px;
    background-color: #FFFFFF;
    color: #232B2E;
  }

  &__chart-detail-options {
    margin-left: 30px;
  }

  &__info {
    margin: 30px;
    font-weight: bold;
  }
}
